# Interact Widget

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%config InlineBackend.figure_format = 'retina'

In [2]:
url = 'https://www.ncei.noaa.gov/data/international-best-track-archive-for-climate-stewardship-ibtracs/v04r00/access/csv/ibtracs.ALL.list.v04r00.csv'
df = pd.read_csv(url, parse_dates=['ISO_TIME'], usecols=range(12),
                 skiprows=[1], na_values=[' ', 'NOT_NAMED'],
                 keep_default_na=False, dtype={'NAME': str})
df.head()

,SID,SEASON,NUMBER,BASIN,SUBBASIN,NAME,ISO_TIME,NATURE,LAT,LON,WMO_WIND,WMO_PRES
0,1842298N11080,1842,1,NI,BB,NaN,1842-10-25 03:00:00,NR,10.9000,80.3000,NaN,NaN
1,1842298N11080,1842,1,NI,BB,NaN,1842-10-25 06:00:00,NR,10.8709,79.8265,NaN,NaN
2,1842298N11080,1842,1,NI,BB,NaN,1842-10-25 09:00:00,NR,10.8431,79.3524,NaN,NaN
3,1842298N11080,1842,1,NI,BB,NaN,1842-10-25 12:00:00,NR,10.8188,78.8772,NaN,NaN
4,1842298N11080,1842,1,NI,BB,NaN,1842-10-25 15:00:00,NR,10.8000,78.4000,NaN,NaN

In [3]:
import cartopy.crs as ccrs
import cartopy

In [4]:
def scatter_globe(central_lat):
    fig = plt.figure(figsize=(9,6))
    ax = plt.axes(projection=ccrs.Orthographic(central_lat))
    ax.coastlines()
    ax.gridlines()
    ax.set_global()
    ax.scatter(df.LON, df.LAT, transform=ccrs.PlateCarree(), s=0.01);

In [5]:
from ipywidgets import interact
interact(scatter_globe, central_lat=(-360, 360, 20));

interactive(children=(IntSlider(value=0, description='central_lat', max=360, min=-360, step=20), Output()), _dâ€¦